body, html {
  height: 100%;
   margin: 0;
   font-family: sans-serif;
}
footer {
     background-color: #f2f2f2;
     padding: 25px;
   }
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
}
.navbar-brand {
  height: 100%;
  width: auto;
  padding: 15px;

}
.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none;
  }
  .container-language-selection {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}
ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
}
li a.active {
    background-color: #0833E2;
    color: white;
}

li a:hover:not(.active) {
    background-color: #8BA1F8;
    color: white;
}

html{
    background-color: #f3f3f3;
}
