body, html {
   height: 100%;
   margin: 0;
   font-family: sans-serif;
   text-align: center;
   background: url("../images/yellowgrid.jpg");
   background-size: cover;
   background-position: center;
   background-color: #feff9c;
}
#footer {
     background-color: ;
     padding: 25px;
     position: relative;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #7afcff;
     color: ##ffffff;
     text-align: center;
   }
/*navbar*/
.navbar {
  background-color: #ff65a3;
  margin-bottom: 0;
  border-radius: 0;
  padding: auto;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
}
.navbar-brand {
  height: 100%;
  width: auto;
  padding: 15px;
  color: #7afcff;
}
.navbar-inverse .navbar-nav  {
  color: #7afcff;
}
/*Carousel*/
.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none;
  }
  .container-language-selection {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}
.form {
  text-align: center;
}
