body {
  background-image: url("../images/French.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  vertical align: middle;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

h2{
  color: white;
}

.column {
  float: left;
  width: 33.33%;
  height: 50%;
  padding: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
